/* 
Referenced w3schools.com for CSS examples 
https://www.w3schools.com/cssreF/css3_pr_box-shadow.php
https://www.w3schools.com/css/css_grid_align.asp
https://www.w3schools.com/css/default.asp
*/

/* Reset (via https://stackoverflow.com/questions/46923610/css-resetting-margin-and-padding)*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Background color */
body {
    width: 100%;
    overflow-x: hidden;
    background: gray;
    font-family: Arial, sans-serif;
    color: black;
}

/* Grid Layout */
#app {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: darkgrey;
    color: black;
}

/* Navigation list */
header nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

header nav a {
    color: black;
    font-weight: bold;
}

/* Main (4 column grid) */
main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

/* Store items */
.store-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto 1fr auto;
    height: 400px;
    width: 100%;
    border: 1.5px solid black;
    box-shadow: 5px 10px #333;
    background-color: lightgray;
}

/* Image (span all columns and fit in space) */
.store-item img {
    grid-column: 1 / 4;
    grid-row: 1;
    width: 100%;
    height: 180px;
    object-fit: contain;
    object-position: center;
    background-color: white;
    display: block;
}

/* Product name (span all columns) */
.store-item p:first-of-type {
    grid-column: 1 / 4;
    grid-row: 2;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 8px;
  }

/* Description (span all columns) */
.store-item p:nth-of-type(2) {
    grid-column: 1 / 4;
    grid-row: 3;
    font-size: 16px;
}

.store-item span{
  font-size: 14px;
  padding: 10px;
  align-self: end;
}

/* Rating (column 1, row 4) */
.store-item span:nth-of-type(1) {
    grid-column: 1;
    grid-row: 4;
}

/* Price (column 2, row 4) */
.store-item span:nth-of-type(2) {
    grid-column: 2;
    grid-row: 4;
    font-weight: bold;
    text-align: center;
}

/* Stock (column 3, row 4) */
.store-item span:nth-of-type(3) {
    grid-column: 3;
    grid-row: 4;
    text-align: right;
    border-radius: 4px;
}

/* Footer with copyright */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white; 
}
